<app-header [type]="'menu'" [typeTitle]="'pageName'" [pageNameVal]="'Vault'"></app-header>

<ion-content class="lyt-section tabs typ-bg-uploads">
  <ion-fab vertical="top" horizontal="end" [edge]="true">
    <ion-fab-list>
      <ion-button color="light" class="typ-icon button-float-button">
        <i class="icon-plus"></i>
      </ion-button>
    </ion-fab-list>
  </ion-fab>
  <div class="content-inner lyt-upload">
    <div class="content no-padding app-tab payment-tabs">
      <ion-segment [scrollable]="true" mode="md" [(ngModel)]="CustomerSegment" class="app-tab-nav">
        <ion-segment-button value="documents" class="app-tab-nav-item">
          Documents
        </ion-segment-button>
        <ion-segment-button value="handoverDocs" class="app-tab-nav-item">
          Handover Documents
        </ion-segment-button>
        <ion-segment-button value="miscellaneousDocs" class="app-tab-nav-item">
          Miscellaneous Documents
        </ion-segment-button>
      </ion-segment>

      <div [ngSwitch]="CustomerSegment" class="tab-content app-tab-content">
        <div *ngSwitchCase="'documents'">
          <div class="head">
            <div class="search-bar">
              <ion-item lines="none" class="app-form-group">
                <ion-label class="app-field-label"><span class="icon icon-search"></span></ion-label>
                <ion-input class="app-form-control" type="text" placeholder="Search"
                  [(ngModel)]="searchText"></ion-input>
              </ion-item>
            </div>
          </div>

          <div class="cont">
            <div class="document-list">
              <ion-list class="card-list">
                <div class="bs-doc">
                  <ion-accordion-group>
                    <ion-accordion *ngFor="let group of getKeys()" value={{group}}>
                      <ion-item slot="header" color="transparent" class="accordion-item">
                        <ion-label>{{group}}</ion-label>
                      </ion-item>
                      <div class="bs-doc"
                        *ngFor="let subGroup of adminUploadedDocs[group] | searchFilterPipe :searchText;let i=index"
                        slot="content">
                        <ion-item-sliding #slidingItem>
                          <ion-item lines="none" class="iconwithtext" (click)="viewDocs(subGroup)">
                            <div class="icon">
                              <img src="../../../assets/images/customer-portal_TDS.svg" alt="customer-portal_TDS" />
                            </div>
                            <div class="text">
                              <h2 class="title">{{subGroup.vcFilename}}</h2>
                              <h3 class="time-stamp">
                                uploaded on {{subGroup.vcUploadedOn}}
                              </h3>
                            </div>
                          </ion-item>
                          <ion-item-options side="end" class="act-wrap">
                            <ion-button class="app-btn btn-icon" (click)="shareDoc(subGroup)">
                              <ion-icon name="share-social-outline"></ion-icon>
                            </ion-button>
                          </ion-item-options>
                        </ion-item-sliding>
                      </div>
                      <div class="ion-text-left"
                        *ngIf="(adminUploadedDocs[group] | searchFilterPipe :searchText).length === 0 || !adminUploadedDocs[group].length">
                        No documents found.
                      </div>
                    </ion-accordion>
                  </ion-accordion-group>
                </div>
                <!-- <div class="bs-doc"
                  *ngFor="let adminDocs of adminUploadedDocs | searchFilterPipe :searchText;let i=index">
                  <ion-item-sliding #slidingItem>
                    <ion-item lines="none" class="iconwithtext" (click)="viewDocs(adminDocs)">
                      <div class="icon">
                        <img src="../../../assets/images/customer-portal_TDS.svg" alt="customer-portal_TDS" />
                      </div>
                      <div class="text">
                        <h2 class="title">{{adminDocs.vcFilename}}</h2>
                        <h3 class="time-stamp">
                          uploaded on {{adminDocs.vcUploadedOn}}
                        </h3>
                      </div>
                    </ion-item>
                    <ion-item-options side="end" class="act-wrap">
                      <ion-button class="app-btn btn-icon" (click)="shareDoc(adminDocs)">
                        <ion-icon name="share-social-outline"></ion-icon>
                      </ion-button>
                    </ion-item-options>
                  </ion-item-sliding>
                </div>
                <div class="ion-text-left"
                  *ngIf="(adminUploadedDocs | searchFilterPipe :searchText).length === 0 || !adminUploadedDocs.length">
                  No documents found.
                </div> -->



              </ion-list>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'handoverDocs'">
          <div class="head">
            <div class="search-bar">
              <ion-item lines="none" class="app-form-group">
                <ion-label class="app-field-label"><span class="icon icon-search"></span></ion-label>
                <ion-input class="app-form-control" type="text" placeholder="Search"
                  [(ngModel)]="searchHandoverText"></ion-input>
              </ion-item>
            </div>
          </div>

          <div class="cont">
            <div class="document-list">
              <ion-list class="card-list">
                <div class="bs-doc"
                  *ngFor="let handoverDocs of adminHandoverDocs | searchFilterPipe :searchHandoverText;let i=index">
                  <ion-item lines="none" class="iconwithtext" (click)="viewHandoverDocs(handoverDocs)">
                    <div class="icon">
                      <img src="../../../assets/images/customer-portal_TDS.svg" alt="customer-portal_TDS" />
                    </div>
                    <div class="text">
                      <h2 class="title">{{handoverDocs.vcFilename}}</h2>
                      <h3 class="time-stamp">
                        uploaded on {{handoverDocs.vcUploadedOn}}
                      </h3>
                    </div>
                  </ion-item>
                </div>
                <div class="ion-text-left"
                  *ngIf="(adminHandoverDocs | searchFilterPipe :searchHandoverText).length === 0 || !adminHandoverDocs.length">
                  No documents found.
                </div>
              </ion-list>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'miscellaneousDocs'">
          <div class="head">
            <div class="search-bar">
              <ion-item lines="none" class="app-form-group">
                <ion-label class="app-field-label"><span class="icon icon-search"></span></ion-label>
                <ion-input class="app-form-control" type="text" placeholder="Search"
                  [(ngModel)]="searchMiscellaneousText"></ion-input>
              </ion-item>
            </div>
          </div>

          <div class="cont">
            <div class="document-list">
              <ion-list class="card-list">
                <div class="bs-doc"
                  *ngFor="let miscellaneousDocs of adminMiscellaneousDocs | searchFilterPipe :searchMiscellaneousText;let i=index">
                  <ion-item lines="none" class="iconwithtext" (click)="viewHandoverDocs(miscellaneousDocs)">
                    <div class="icon">
                      <img src="../../../assets/images/customer-portal_TDS.svg" alt="customer-portal_TDS" />
                    </div>
                    <div class="text">
                      <h2 class="title">{{miscellaneousDocs.vcFilename}}</h2>
                      <h3 class="time-stamp">
                        uploaded on {{miscellaneousDocs.vcUploadedOn}}
                      </h3>
                    </div>
                  </ion-item>
                </div>
                <div class="ion-text-left"
                  *ngIf="(adminMiscellaneousDocs | searchFilterPipe :searchMiscellaneousText).length === 0 || !adminMiscellaneousDocs.length">
                  No documents found.
                </div>
              </ion-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>