.skipButton {
    position: fixed;
    bottom: 2rem;
    width: 100%;

    ion-button {
        background-color: transparent;
        box-shadow: none;
    }
}

.title {
    .cm-bold {
    margin: 0 0.5rem;
    }
}

.splash-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100%;
  }